<div class="card m-b5">
    <div class="card-header">
        <h5 class="f-s-22 background-bg"><i class="far fa-chart-bar m-5l f-s-25 background-bg"></i>Estadisticas</h5>
    </div>
    <div class="card-body">
        <p class="m-5l f-s-20 color-444 f-w-400"><i class="fas fa-images m-5l background-bg"></i> Imagenes Totales: {{sidebar.stats.images}}</p>
        <p class="m-5l f-s-20 color-444 f-w-400"><i class="fas fa-comments m-5l background-bg"></i> Comentarios Totales: {{sidebar.stats.comments}}</p>
        <p class="m-5l f-s-20 color-444 f-w-400"><i class="fas fa-eye m-5l background-bg"></i> Vistas Totales: {{sidebar.stats.views}}</p>
        <p class="m-5l f-s-20 color-444 f-w-400"><i class="fas fa-heart m-5l background-bg"></i> Me Gusta Totales: {{sidebar.stats.likes}}</p>
    </div>
</div>